body {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    flex-grow: 2;
}

#input{
    display: none;
}

#cover {
    background-color: #37474f;
    color: white;
    width: 100%;
    margin: 0 auto;
}

#cover h5 {
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

#cover p {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

.sceneheading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.55em;
}


.instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#empty {
    font-size: 10em;
    opacity: 0.1;
    margin: 0 0;
    align-self: center;
    text-align: center;
}


.nav-title {
    margin-left: 20px;
}

.speech {
    max-width: 400px;
    margin: 0 auto;
    /*border: 1px solid black;*/
    background-color: #fafafa;
    padding: 5px 20px;
}

.sticky {
    top: 0;
    position: fixed;
}

